*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: Arial, Helvetica;
 
}

h1 {
  padding: 3% 5%;
  color: rgb(63, 81, 99);
}

.App {
 min-height: 100vh;
 background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

h2 {
  margin: 20px;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;

}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}