*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: Arial, Helvetica;
 
}

h1 {
  color: rgb(63, 81, 99);
  text-align: center;
  font-weight: smaller;
  font-size: 18px;
  margin-bottom: 20px;
}
h1 img{
  height: 65px;
}

.App {
 min-height: 100vh;
 background-color: #efefef;

}

header{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-top-left-radius: 18px;
 
}

.search-button {
  background: rgb(63, 81, 99);
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-bottom-right-radius: 18px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
}