.recipe{
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 250px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
h2{
    text-align: center;
    margin: 10px auto 5px;
}

.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    margin: 5px auto 10px;
    font-family:'Courier New', Courier, monospace;
}

a{
    border: 1px solid #FF6F61;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    border-radius: 30px;
    color: #FF6F61;
}
a:hover{
    color: white;
    background-color: #FF6F61;
}